

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col >
      <div class="ion-text-center" style="    margin-top: 35px;">
<h3 style="    font-family: sans-serif; color: #565f6e">Mon compte</h3>
      </div>

    </ion-col>
  </ion-row>
  <ion-row class="rows">
    <ion-col size="6"  no-padding >
        <ion-card class="cards">
            <ion-card-content>
                <div class="ion-text-center" >
                    <ion-icon name="jet" class="icons"></ion-icon>
                    <h2> <p class="text">Profile alimentaire</p></h2>
                          </div>
            </ion-card-content>
          </ion-card>
      
                  
      
    </ion-col>
    <!-- <ion-col size="2"></ion-col> -->
    <ion-col size="6" no-padding >
        <ion-card class="cards">
            <ion-card-content>
                <div class="ion-text-center" >
                    <ion-icon name="people" class="icons"></ion-icon>
                    <h2> <p class="text">Mess information</p></h2>
                          </div>
            </ion-card-content>
          </ion-card>
      </ion-col>
  </ion-row>
  <!-- // second row -->
  <ion-row  class="rows">
      <ion-col size="6"  no-padding >
          <ion-card class="cards">
              <ion-card-content>
                  <div class="ion-text-center" >
                      <ion-icon name="paper" class="icons"></ion-icon>
                      <h2> <p class="text">Mention Legales</p></h2>
                            </div>
              </ion-card-content>
            </ion-card>
        
                    
        
      </ion-col>
      <!-- <ion-col size="2"></ion-col> -->
      <ion-col size="6" no-padding >
          <ion-card class="cards">
              <ion-card-content>
                  <div class="ion-text-center" >
                      <ion-icon name="paper-plane" class="icons"></ion-icon>
                      <h2> <p class="text">Envoyer une emarque</p></h2>
                            </div>
              </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button class="btn"  expand="block">Se deconnecter</ion-button>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
