.icons{
    font-size: xx-large
}
.text{
    font-size: larger
}
.cards{
    border-radius: 15px;
    height: 100%;
    background-color: #989aa23b;
    box-shadow: none;
}
.rows{
    margin-top: 20px;
}
.btn{
    margin-top: 85px;
    --border-radius: 9px;
    padding: 5px;
    /* background-color: pink; */
    height: 65px;
    --background: #e23939e3;
}